/*
Style for compare page.
*/
table.files-version-table textarea {
  min-height: 400px;
  width: 100%;
  cursor: pointer;
  background: url('../images/bk.png') repeat-y;
  line-height: 16px;
  padding: 5px 5px;
  border: solid 1px #ddd;
}

table.files-version-table input[type=text]#contextSize {
  border: 1px solid #ccc;
  width: 100%;
  padding: 2px;
}

table.files-version-table tr.contaxt-size-tr td {
  background: #ccc !important;
}

table.files-version-table tr table {
  table-layout: fixed;
}

table.files-version-table tr table td {
  width: 25%;
}
